<div class="container">
    
    <div class="grid-action">
        <button 
            mat-raised-button color="primary" 
            (click)="openFormCreateStudent()">
            Agregar alumno
        </button>

        <mat-slide-toggle
            class="m-4"
            [(ngModel)]="isAdmin" 
            (change)="toggleSlider()">
            Vista administrador (Solo para pruebas)
        </mat-slide-toggle>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

        <ng-container matColumnDef="dni">
            <th class="list-head" mat-header-cell *matHeaderCellDef> Dni </th>
            <td class="list-body" mat-cell *matCellDef="let element"> {{element.dni}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th class="list-head" mat-header-cell *matHeaderCellDef> Nombre </th>
            <td class="list-body" mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th class="list-head" mat-header-cell *matHeaderCellDef> Apellido </th>
            <td class="list-body" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="course">
            <th class="list-head" mat-header-cell *matHeaderCellDef> Curso </th>
            <td class="list-body" mat-cell *matCellDef="let element"> {{element.course}} </td>
        </ng-container>

        <ng-container *ngIf="isAdmin" matColumnDef="action">
            <th class="list-head" mat-header-cell *matHeaderCellDef> Accion </th>
            <td class="list-body" mat-cell *matCellDef="let element">
                    <div class="actions">
                        <button mat-mini-fab color="warn" (click)="openDeleteStudent(element.dni)">
                            <mat-icon class="icon-display" >delete</mat-icon>
                        </button>
                        <button mat-mini-fab color="accent" (click)="openModifyStudent(element)">
                            <mat-icon class="icon-display" >edit</mat-icon>
                        </button>
                    </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>