mat-expansion-panel{
    margin-bottom: 15px;
    background-color: rgb(39, 40, 45) ;
    border-radius: 15px !important;
    
    mat-panel-title{
        color: white;
        font-size: 18px;
    }

    .class-description{
        margin: 30px 0;
        color: white;
        font-size: 15px;
    }
}
::ng-deep .mat-expansion-indicator:after {
    color: white;
}

mat-divider{
    background-color: rgb(243, 243, 148);
}