.login-card{
    background-color: rgb(39, 40, 45) !important;

    span{
        color: white;
    }
}
.example-header-image {
    background-image: url('../../../../../assets/img/user-icon.png');
    background-size: cover;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px !important;
    

    .user{
        margin-bottom: 15px;
    }

    button {
        margin-top: 50px;
        width: 100%;
    }

    input{
        color: white;
    }
}

::ng-deep .mat-focused .mat-form-field-label {
    color: rgb(207, 193, 193) !important;
}

::ng-deep.mat-form-field-underline, ::ng-deep.mat-form-field-ripple {
    background-color: rgb(245, 245, 159)!important;}

.my-form-field ::ng-deep .mat-form-field-label,
.my-form-field ::ng-deep .mat-form-field-placeholder {
    color: rgb(207, 193, 193) !important;
}