
<div class="body">
    <mat-card class="login-card" 
        [style.width.px]="width" 
        [style.height.px]="height" 
        [ngStyle]="{ 'min-width.px':150, 'min-height.px': 350 }">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><span>Login</span></mat-card-title>
        <mat-card-subtitle><span>Registrarse</span></mat-card-subtitle>
    </mat-card-header>   
    <mat-card-content>
        <form class="form" [formGroup]="loginForm">
            <mat-form-field class="user my-form-field">
                <mat-label>Email</mat-label>
                <input 
                matInput 
                type="text"
                [formControl]="emailControl">
                <mat-error *ngFor="let error of emailControl.errors | keyvalue">{{error | controlErrorMessages}} </mat-error>
            </mat-form-field>
        
            <mat-form-field class="my-form-field">
                <mat-label>Contraseña</mat-label>
                <input 
                matInput 
                type="password"
                [formControl]="passwordControl">
                <mat-error *ngFor="let error of passwordControl.errors | keyvalue">{{error | controlErrorMessages}} </mat-error>
            </mat-form-field>
            <!-- <button mat-raised-button class="primaryCustom" routerLink="/students" [disabled]="loginForm.invalid">Ingresar</button> -->
            <button mat-raised-button class="primaryCustom" (click)="loginValidator()" [disabled]="false">Ingresar</button>
        </form>
    </mat-card-content>
    </mat-card>
</div>