.mat-sidenav-container {
    height: 100vh;
  }
  
  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .mat-sidenav {
    width: 250px;
    background-color: rgb(39, 40, 45) !important;
  }
  
  mat-list-item{

    color: white !important;
  }
  .toolbar{
    background-color: grey ;
  }

  .toggleSidebar{
    cursor: pointer;
  }

  mat-sidenav-content{
    background-color: rgb(31, 32, 35);
  }

  mat-toolbar{
    background-color: rgb(20, 20, 20) !important;
  }
  
  .mat-toolbar {
    display: flex;
    justify-content: space-between;
  }

  .user-boton{
    display: flex;
  align-items: center;
  }

  .title {
    display: flex;
    color: grey;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Schibsted Grotesk', sans-serif;

    .subtitle1 {
        color: white
    }

    .subtitle2 {
        color: rgb(243, 243, 130);
    }

    .subtitle2::second {
        color: rgb(243, 243, 130);
    }
}