<div class="container">
  <div class="user-details-container">
    <h1 class="user-details-header">Detalles del Usuario</h1>
    <mat-divider></mat-divider>

    <div class="row">
      <div class="data-section">
        <h2>Nombre</h2>
        <h3>{{ data.name }}</h3>
      </div>

      <div class="data-section">
        <h2>Apellido</h2>
        <h3>{{ data.lastName }}</h3>
      </div>

      <div class="data-section">
        <h2>Dni</h2>
        <h3>{{ data.dni }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="data-section">
        <h2>Email</h2>
        <h3>{{ data.email }}</h3>
      </div>

      <div class="data-section">
        <h2>Role</h2>
        <h3>{{ data.role }}</h3>
      </div>
    </div>

    <div class="courses">
      <h2>Courses</h2>
      <mat-divider></mat-divider>
      <div *ngFor="let course of courses | async" class="courses">
        <div class="course col-12">
          <button mat-mini-fab color="warn" (click)="onClickButton(course)">
            <mat-icon class="icon-display">delete</mat-icon>
          </button>
          {{course.name}}
        </div>
      </div>
    </div>

    <div class="button-container">
      <button id="delete" (click)="closeModal()" mat-raised-button color="warn" class="delete-button">
        Salir
      </button>
    </div>
  </div>
</div>
