.list-body{
    text-align: center;
    background-color: rgb(39, 40, 45) !important;
    color: rgb(207, 193, 193);
}
.list-head{
    text-align: center;
    width: 20%;
    background-color: rgb(39, 40, 45) !important;
    color: rgb(179, 170, 170);
}
.actions{
    display: flex;
    justify-content: center;
    gap: 50px;

    button{
        height: 30px;
        width: 30px;
    }
}
.grid-action{
    margin: 30px 0;
}

.icon-display{
    font-size: 18px;
}

mat-slide-toggle{
    color: white;
}

.mat-table{
    border-radius: 8px;
    overflow:hidden !important;
}

table{
    background-color: rgb(39, 40, 45) !important;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

img{
  width: 30%;
  height: 30%;
  margin: 10px 0;
}
